*{
    margin: 0px;
    padding: 0px;
    font-family: "Trirong", serif;
    /* text-align: center; */
}
/* linear-gradient((90deg, rgba(204,155,212,1) 23%, rgba(124,72,120,1) 58%, rgba(70,32,82,1) 100%)) */
header{
    background-image: url(./img12.jpg);
    
    height: 100vh;
    /* background-size: auto; */
    background-position: center;
    min-height: 100px;
    background-blend-mode: darken ;
    /* background-color: 50px; */
    background-size: cover;
}
ul{
    /* float: right; */
    list-style-type: none;  
    /* margin-top: 100px;   */
    /* margin-right: -20px; */
    font-size: 2.5vh;
}
ul li{
    display: inline-block;
}
 ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 14px;
    border:  1px solid transparent;
    transition: 0.5 ease;
 }
 ul li a:hover{
    background-color: #fff;
    color: black;
 }
 ul li.active a{
    background-color: #fff;
    color: black;
   
 }
 .logo img{
    width: 65%;
    border: 0px solid white;
    border-radius: 50px;
    margin-top: 15px;
   
 }
 .main{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 65px;
 }
.title{
    /* align-items: center; */
    /* justify-items: center; */
    /* font-style: italic; */
     /* color: rgb(45, 198, 209); */
     color: #fff;
     padding: 5px 20px;
     border:  1px solid transparent;
     transition: 0.5 ease;
     position: absolute;
     top: 40%;
    left: 64%;
     margin-left: -360px;
     font-size: 2vh;
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17px 0px;
    /* margin: 32%; */
    /* padding: 5px 15px; */
    transition: 0.5 ease;
    
}
.sub-menu{
    display: none;
    top: 12%;
    position: relative;
}
.sub-menu ul{
    position: absolute;
}
.main ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color:rgb(0,45,117);
    margin-top: 2px;
    margin-left:-8px; 
}
.main ul li:hover .sub-menu ul{
    display: block;
    margin: 6px;
}
.main ul li:hover .sub-menu ul li{
    width: 85px;
    padding: 8px;
    border-bottom: 1px #fff;
    background: transparent;
    transition: 0.4 ease;
    text-align: left;
    border-radius: 0px;

}
.new{
    background-color:white;
    /* height: 500px; */
    /* text-align: center; */
}
.parhead{
      /* background-color: #f1d6ba; */
      height:auto;
      text-align: center;
      
}
.ab_subtitle{
    font-size: 20px;
    color: #726d6a;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.ab_title {
    /* font-size: 18px; */
    /* display: inline-flex; */
    text-align: center;
    /* margin-bottom: 0px; */
    color:#ac8531;
   list-style: none;
    -webkit-font-smoothing: antialiased;
    font-family: "Sofia", sans-serif;
   font-weight: 50;font-size: 6vh;
}
.ab_title::before {
    content: url(https://www.asianbanquets.in/wp-content/uploads/2020/07/left-arrow.png);
    background-repeat: no-repeat;
    border-color:  rgb(138, 9, 31);
    left: 31rem;
    margin-right: 20px;
}
.ab_title::after {
    content: url(https://www.asianbanquets.in/wp-content/uploads/2020/07/right-arrow.png);
    background-repeat: no-repeat;
    left: 31rem;
    margin-left: 20px;
}
.ab_read a {
    color: #bc9d5a!important;
    border-bottom: 2px solid #bc9d5a;
}
.headin{
   color: rgb(138, 9, 31) ;
   list-style: none;
    -webkit-font-smoothing: antialiased;
    font-family: "Sofia", sans-serif;
   font-weight: 50;font-size: 6vh;
}
.para{
    padding-bottom: 17px;
     list-style: none;
    text-align: center;
    -webkit-font-smoothing: antialiased; 
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 50;
    font-stretch: ultra-expanded; 
}
.pack{ padding-bottom: 15px;
    list-style: none;
   text-align: center;
   -webkit-font-smoothing: antialiased; 
   /* font-family: Arial, Helvetica, sans-serif; */
   font-weight: 50;
   font-stretch: ultra-expanded; 
    /* list-style: none;
    -webkit-font-smoothing: antialiased;
    font-weight: 50; 
    font-size: 4vh;
} */}
.rig{
    width: 36vw;
    
}
.right{
    /* margin-left: 600px; */
    width: 40vw;
    
}
.left{
   border-radius: 12px;
    /* margin-right: 1000px; */
    width: 30vw;

    
}

.top{
    /* font-size: 4vh; */
    /* position: absolute; */
    top: 140%;
    /* right: 325px; */
}
.hea{
        list-style: none;
        -webkit-font-smoothing: antialiased;
        font-weight: 50; 
        color: rgb(138, 9, 31) ;font-family: "Sofia", sans-serif;font-size: 6vh;
        text-align: center;
}
.heakkk{
    margin-bottom: 30px;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    font-weight: 50; 
    color: rgb(138, 9, 31) ;font-family: "Sofia", sans-serif;font-size: 6vh;
    text-align: center;
}
.heak{
    /* text-align: center; */
    margin-bottom: 30px;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    font-weight: 50; 
    color: rgb(138, 9, 31) ;font-family: "Sofia", sans-serif;font-size: 6vh;
}
.headd{
        margin-bottom: 40px;
        list-style: none;
        -webkit-font-smoothing: antialiased;
        font-weight: 50;  color: rgb(138, 9, 31) ;font-family: "Sofia", sans-serif;font-size: 6vh;
}
.pacc{padding-bottom: 17px;
    list-style: none;
   text-align: center;
   -webkit-font-smoothing: antialiased; 
   /* font-family: Arial, Helvetica, sans-serif; */
   font-weight: 50;
   font-stretch: ultra-expanded; 
    
    /* list-style: none;
    -webkit-font-smoothing: antialiased;
    font-weight: 50; 
    font-size: 4vh; */
}

.par{
    /* position: absolute; */
    top: 245%;
    left: 40px;
}

.topp{
    /* position: absolute; */
    top: 330%;
    /* right: 225px; */
}

.imgg{
    width: 540px;
   
}
.img5{
    width: 19vw;
    
}
.img16{
    width:23vw ;
}
.img6{
    width:23vw;
}
.img1{
    width: 30vw;  
}
.img2{
    /* margin-bottom: -50px; */
    width: 23vw;  
}
.img3{
    width: 30vw;
}
.img4{
    width:23vw ;
}
.heakk{
    text-align: left; 
    margin-bottom: 40px;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    font-weight: 50; 
    color: rgb(138, 9, 31) ;font-family: "Sofia", sans-serif;font-size:6vh;
}
.photo{
    margin-top:30px ;
}
.phoo{
    background-color: rgb(252, 252, 252);
    display: inline-flex;margin: 13px 220px;
}

.last{
    /* margin-top: 5%; */
    justify-content: space-evenly;
     display: flex;
    font-family: "Sofia", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-top: 15vh;
    font-weight: 20;
    font-size: 2vh;
    background-color:  rgb(252, 252, 252); 
    height: 80vh;
    /* padding-bottom: 17px; */
    list-style: none;
   /* text-align: center; */
   

}

.secondC{
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
}
.ThirdC{
    /* flex-direction: row-reverse; */
    display: flex;
    align-items: center;
    margin: 10px 0px;
    justify-content: space-evenly;
}
.fouthC{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.fifth{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 65px 0px;
}
.mm{
    /* display: inline; */
    /* justify-content: center; */
    /* display: flex; */

    align-items: baseline;
}
.imm{
    
    margin: 0px -10px;
}
.social{
    /* margin-top: 13rem; */
    padding: 1rem;
    border-radius: 0.5rem;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 2vh;
    text-align: center;
    text-decoration: none;
    border-radius: 7vh;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube {
    background:#cb2027 ;
    color: white;
  }
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .card{
    position: relative;
    box-sizing: border-box;
    /* width: 1200px; */
    /* height: 200px; */
    margin: 5 rem;
    /* background-color: black; */
}
.cimm{
    width: 60vh;
}
.cimm2{
    width: 50vh;
}
.cimm3{
    width: 41vh;
}
.cimm4{
    width: 50vh;
}
.cimm5{
    width: 37vh;
}
.cimm7{
    width: 50vh;
}

.card-inner-col{
    align-items: center;
    /* justify-items: center; */
    display: inline-block;
    background-color: rgb(252, 252, 252);
    /* display: inline-flex; */
    margin: 3vh 20vh;
}
.phooo{
    background-color: rgb(252, 252, 252);
    display: inline-block;
    margin: 13px 220px;
}
.cimmm{
    width: 70vh;
}
.cimmm1{
    width: 70vh;
}
.cimmm2{
    width: 51vh;
}

.cimmm4{
    width: 67vh;
}
.cimmm5{
    width: 50vh;
}
.card{
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 220px;
}
.midd{
display: flex;
justify-content: center;
align-items: center;
}
.phoooo{
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 220px;
}
.footer{
    background:#111;
}

.footer .box-container{
    justify-content: space-evenly;
     display: flex;
    font-family: "Sofia", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-top: 15vh;
    font-weight: 10;
    font-size: 1vh;
    background-color: black; 
    height: 60vh;
    /* padding-bottom: 17px; */
    list-style: none;
}

.footer .box-container .box h3{
    font-size: 1.5rem;
    padding:0.5rem 0;
    color:#fff;
}

.footer .box-container .box a{
    display: block;
    font-size: 1rem;
    padding:0.3rem 0;
    color:#eee;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
    color: tomato;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid #222;
    color:#fff;
    padding:2rem;
    padding-top: 2rem;
    margin-top: rem;
    font-size: 1rem;
}

.footer .credit span a{
    color: white;
    background-color: green;
    padding: 0px 4px;
}

.footer .credit span a:hover{
    color: white;
    background-color: indigo;
    padding: 0px 5px;
}


.logoo{
    /* margin: 12vh 0vh 0vh 0vh; */
    
}
.team{
    background-image: url();
}
.team .box-container{
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(10rem, 0.5fr));
    gap:1.5rem;
 }
 
 .team .box-container .box{
    border-radius: .3rem;
    /* background:transparent #ac8531; */
    padding:2rem;
    text-align: center;
    box-shadow: box-shadow;
 }
 
 .team .box-container .box img{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    margin-bottom: 1rem;
 }
 
 .team .box-container .box h3{
    font-size: 1.5rem;
    color:black;
    text-transform: capitalize;
 }
 
 .team .box-container .box p{
    font-size: 1rem;
    /* color: rgb(138, 9, 31); */
 }
 
 .team .box-container .box .share{
    margin-top: .3rem;
 }
 
 .team .box-container .box .share a{
    height: 2rem;
    width: 2rem;
    line-height: 4rem;
    font-size: 1.2rem;
    /* background: black; */
    border-radius: .5rem;
    color:white;
    margin: .5rem 0;
 }
 
 .team .box-container .box .share a:hover{
    /* background: rgb(138, 9, 31); */
 }
 
 .et_pb_main_blurb_image {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 220px;
    line-height: 0;
    border: 2px solid #531717;
    padding: 12px;
}
 
.wedding-proposal-btn {
    position: relative;
    width: 300px;
    padding: 0;
    clear: both;
    display: block;
    margin: 0 0 0 25px;
}
.fill-btn {
    display: block;
    background: rgb(163, 125, 43);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding: 0 -3px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    font-family: Montserrat;
    line-height: 50px;
    height: 55px;
    width: 231px;
    margin: 23px auto 0;
    overflow: hidden;
    outline: 0;
    z-index: 1;
    cursor: pointer;
}
.title-box1 {
    text-align: center;
    padding-top: 80px;
    color:#ac8531;
}

.testi-box {
    justify-content: center;
    align-items:center ;
    text-align: left;
    padding-left: 17px;
    background-color: #896633;
    height: 100px;
}
.testi-holder {
    padding-top: 0px;
    height: 328px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
}.journey-section {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 59px;
    margin-bottom: 59px;
}.m-0 {
    margin: 0px;
}
.m-0 {
    margin: 1!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}.col-lg-4 {
    /* flex: 0 0 33.333333%; */
    max-width: 33.333333%;
}
.testi-holder h2 {
    font-style: bold;
    text-align: center;
    padding-top: 132px;
    font-size: 1.5vw;
    color: #000000;
    font-family: "DejaVu Sans";
    font-weight: 400;
    line-height: 28px;
}.testi-holder h3 {
    font-style: italic;
    text-align: center;
    padding-left: 0px;
    font-size: 1vw;
    color: #000000;
    font-family: "Trirong", serif;
    font-weight: 400;
    line-height: 28px;
}.testi-holder p {
    font-size: 0.9vw;
    line-height: 28px;
    color: #2e2d2d;
    font-family: "Trirong", serif;
    font-weight: 400;
    text-align: left;
    padding: 0 9px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}